aiohttp
async-timeout
attrs
certifi
chardet
configparser
discord.py
easydict
EasyProcess
entrypoint2
idna
keyboard
mss
multidict
numpy
opencv-python
Pillow
pypiwin32
pyscreenshot
pywin32
typing-extensions
urllib3
win10toast
yarl
pyinstaller
fade
GPUtil
